
.nav{
  z-index: 1;
  &__logo{
    width: 200px;
    height: 70px;
    object-fit:cover;
  }
  &__links{
    padding: 0 10px;
    &:hover,
    &:focus{
      padding: 0 9px 5px;
      text-transform: uppercase;
      transition: ease-in-out 500ms;
      border-bottom: 1px solid white;
    }
  }
}